### `eval`
* Evaluate expression given as input string

In [1]:
eval('4+5')

9

### `str()` , `repr()`
* Used to convert any value to string.
* `repr()` returns representation of string which is interpreter readable. `str()` represents human readable form.
* `print` always adds space between its argument

In [2]:
s= 'Hello purvil'

In [3]:
str(s)

'Hello purvil'

In [4]:
repr(s)

"'Hello purvil'"

In [5]:
str(1/7)

'0.14285714285714285'

In [6]:
x = 100.354
y = 200.3544
s = 'The value of x is ' + repr(x) + ' y is ' + repr(y)

In [7]:
print(s)

The value of x is 100.354 y is 200.3544

In [8]:
repr((x,y, ('spam', 'eggs')))

"(100.354, 200.3544, ('spam', 'eggs'))"

--------------

### `print()`
* `file` If explicit file name is given then print in that file, default is `sys.stdout`.
* `flush = True` flush the stream as soon as possible, do not wait for more data.

In [9]:
print('Love', 30, 80.2)

Love 30 80.2

In [10]:
print('Love', 30, 80.2, sep = ',')

Love,30,80.2

In [11]:
print('Love', 30, 80.2, sep = ',', end = '!!\n')

Love,30,80.2!!

In [12]:
x = 5

In [13]:
print("The value of x is %3.2f", x)

The value of x is %3.2f 5

### `rjust()`, `ljust()`, `center()`

* Justify a string in field of given width by padding it with space on left

In [14]:
for x in range(1, 11):
    print(repr(x).rjust(2), repr(x*x).rjust(3), end = ' ')
    print(repr(x*x*x).rjust(4))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [15]:
for x in range(1,11):
    print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

### 'zfill'
* Pads numeric string on left with 0.

In [16]:
'12'.zfill(5)

'00012'

In [17]:
'-3.14'.zfill(7)

'-003.14'

### `format()`

In [18]:
print("We are {} who say {}".format("boys", "hi"))

We are boys who say hi

In [19]:
print("We are {0} who say {1}".format("boys", "hi"))

We are boys who say hi

In [20]:
print("We are {var1} who say {var2}".format(var1="boys", var2="hi"))

We are boys who say hi

#### !a = Ascii(), !s = str(), !r = repr()
* Used to convert value before it is formatted

In [21]:
xyz = 'pqrs'

In [22]:
print('My is {}'.format(xyz))

My is pqrs

In [23]:
print('My is {!r}'.format(xyz))

My is 'pqrs'

In [24]:
table = {'Hi':4175, 'jack':4651, 'jay':2121}

In [25]:
for name, num in table.items():
    print('{0:10} ==> {1:10d}'.format(name, num))

Hi         ==>       4175
jack       ==>       4651
jay        ==>       2121

In [26]:
print('Jay:{0[jay]:d}, jack:{0[jack]:d}, Hi:{0[Hi]:d}'.format(table))

Jay:2121, jack:4651, Hi:4175

In [27]:
print('Jay:{jay:d}, Hi:{Hi:d}, Jack:{jack:d}'.format(**table))

Jay:2121, Hi:4175, Jack:4651