# List

* List is mutable. List is compound data type, like a collection.

In [1]:
l1 = [1, 4, 9, 16, 25]

In [2]:
l1

[1, 4, 9, 16, 25]

In [3]:
l1[0]

1

In [4]:
l1[-1]

25

In [5]:
l1[-3:] # slicing return new list

[9, 16, 25]

In [6]:
l1[:]

[1, 4, 9, 16, 25]

In [7]:
l1 + [36, 49, 64]

[1, 4, 9, 16, 25, 36, 49, 64]

In [8]:
l1.append(36) # List is mutable

In [9]:
l1

[1, 4, 9, 16, 25, 36]

In [10]:
l1[2:4] = []

In [11]:
l1

[1, 4, 25, 36]

In [12]:
len(l1)

4

In [13]:
l1[:] = []

In [14]:
l1

[]

In [15]:
l2 = [1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
l2[::2]

[1, 3, 5, 7]

In [17]:
l2[1::2]

[2, 4, 6, 8]

In [18]:
l2[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

* List can store different kind of data types

In [19]:
x = [1, 'a', 2, 'b']

In [20]:
x

[1, 'a', 2, 'b']

In [21]:
x.append(16.3)

In [22]:
x

[1, 'a', 2, 'b', 16.3]

## List of list

In [23]:
a = ['a', 'b', 'c']
b = [1,2,3]

In [24]:
c = [a, b]

In [25]:
c

[['a', 'b', 'c'], [1, 2, 3]]

In [26]:
c[0]

['a', 'b', 'c']

In [27]:
c[1][1]

2

## List methods

In [88]:
l3 = [1, 4, 9, 16, 25, 36]

### `append`
* Append the element at the end of list

In [89]:
l3.append(49)

In [90]:
l3

[1, 4, 9, 16, 25, 36, 49]

### `extend`
* Extend list by appending all items from iterables. We must have to pass iterable in parameter

In [91]:
l3.extend([64, 81, 100])

In [92]:
l3

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### `insert`
* Insert item x at given position i in the list. `lst.insert(i, x)`

In [93]:
l3.insert(2, 54)

In [94]:
l3

[1, 4, 54, 9, 16, 25, 36, 49, 64, 81, 100]

In [95]:
l3.insert(0, 2)

In [96]:
l3

[2, 1, 4, 54, 9, 16, 25, 36, 49, 64, 81, 100]

In [97]:
l3.insert(len(l3), 121) # inserting at the end of the list, same as append

In [98]:
l3

[2, 1, 4, 54, 9, 16, 25, 36, 49, 64, 81, 100, 121]

### `pop`
* Remove item from given position in the list and return it

In [99]:
l3

[2, 1, 4, 54, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [100]:
l3.pop(2)

4

In [101]:
l3

[2, 1, 54, 9, 16, 25, 36, 49, 64, 81, 100, 121]

* If no position given it will remove last items

In [102]:
l3.pop()

121

### `del`
* Delete item from list at given index. Also can delete slice or entire list.
* It will not return deleted item

In [103]:
l3

[2, 1, 54, 9, 16, 25, 36, 49, 64, 81, 100]

In [104]:
del l3[0]

In [105]:
l3

[1, 54, 9, 16, 25, 36, 49, 64, 81, 100]

In [106]:
del l3[2:4]

In [107]:
l3

[1, 54, 25, 36, 49, 64, 81, 100]

### `count`
* Return number of times x appears in the list

In [54]:
l3.count(2)

2

### `reverse`
* Reverse the list in place

In [55]:
l3.reverse()

In [56]:
l3

[100, 81, 64, 49, 121, 100, 81, 64, 49, 36, 25, 16, 9, 54, 4, 54, 2, 2]

### `copy()`
* Returns deep copy of list. Same as `lst[:]`

In [57]:
l3.copy()

[100, 81, 64, 49, 121, 100, 81, 64, 49, 36, 25, 16, 9, 54, 4, 54, 2, 2]

### `index()`
* Return index of first occurrence of value

In [60]:
l4 = [1,3,6,4,78,6,4,6,87,3]

In [61]:
l4.index(6)

2

In [63]:
l4.index(6, 3) # Start searching from index 3

5

In [65]:
l4.index(6, 6, 8) # Search for element 6 between index 6 and 8(exclusive)

7

In [66]:
l4.index(20)

ValueError: 20 is not in list

### `sort()`
* sort items of list in place.

In [67]:
l4.sort()

In [68]:
l4

[1, 3, 3, 4, 4, 6, 6, 6, 78, 87]

In [69]:
l4.sort(reverse = True)

In [70]:
l4

[87, 78, 6, 6, 6, 4, 4, 3, 3, 1]

* `key` argument accepts a function for producing a sort key from an item.

In [8]:
s = "Not preplexing do handwriting family where I illegibly know doc"
my_lst = s.split()

In [10]:
my_lst.sort()
my_lst

['I',
 'Not',
 'do',
 'doc',
 'family',
 'handwriting',
 'illegibly',
 'know',
 'preplexing',
 'where']

In [11]:
my_lst.sort(key=len)

In [12]:
my_lst

['I',
 'do',
 'Not',
 'doc',
 'know',
 'where',
 'family',
 'illegibly',
 'preplexing',
 'handwriting']

In [1]:
s = ['foo', 'bar', 'aaaa', 'abab', 'card']

In [2]:
s.sort(key = lambda x: len(set(list(x)))) # sorting as number of total unique characters

In [3]:
s

['aaaa', 'foo', 'abab', 'bar', 'card']

### `sorted()`
* Return new sorted list from elements of any sequence. NOT in place.

In [125]:
sorted([56,5847,89,8,7,358,7])

[7, 7, 8, 56, 89, 358, 5847]

### `clear()`
* Remove all elements from list

In [71]:
l4.clear()

In [72]:
l4

[]

### Shallow copy

In [73]:
x = ["a", "b", "c"]

In [74]:
y = x # here y is just referencing to list x. NOT creating new list like x and pointing to that

In [75]:
y.append("d")

In [76]:
x

['a', 'b', 'c', 'd']

In [77]:
y

['a', 'b', 'c', 'd']

### Deep copy

In [80]:
a = ["x", "y", "z"]

In [81]:
b = a[:] # or list(a) or a.copy()

In [83]:
b.append("p")

In [84]:
b

['x', 'y', 'z', 'p']

In [85]:
a

['x', 'y', 'z']

### Passing list to function argument

In [86]:
l5 = [1, 2, 3, 4]

In [110]:
def add_element(num, lst):
    lst.append(num)

In [111]:
add_element(5, l5)

In [112]:
l5 # Passed list got changed.

[1, 2, 3, 4, 5]

### Creating empty list

In [113]:
l6 = list()

In [114]:
l7 = []

In [115]:
l6

[]

### Converting sequence to list

In [116]:
tup = (1,2,3,4)

In [117]:
list(tup)

[1, 2, 3, 4]

In [118]:
list(range(1,4))

[1, 2, 3]

### `in` `not it`

In [119]:
1 in [1,2,3]

True

In [120]:
5 not in [1,2,3]

True

### `enumerate`
* Makes very easy to keep track of index of current item when we are iterating over sequence.
* Enumerate returns sequence of (i, value) tuples
```
for i, value in enumerate(collection):
        # Do something
```

In [121]:
a = ['xyz', 'pqr', 'jkl']

In [122]:
for i, val in enumerate(a):
    print(i, val)

0 xyz
1 pqr
2 jkl

In [123]:
list(enumerate(a))

[(0, 'xyz'), (1, 'pqr'), (2, 'jkl')]

In [124]:
list(enumerate(a, start = 1))

[(1, 'xyz'), (2, 'pqr'), (3, 'jkl')]

### `zip`
* pairs up elements of lists or other sequences to create list of tuples.
* Zip can take any number of sequences and the number of elements it produces is determined by shortest sequence.

In [129]:
seq1 = ['foo', 'boo', 'moo']
seq2 = ['dave', 'shah', 'joshi']

In [130]:
z = zip(seq1, seq2)

In [131]:
list(z)

[('foo', 'dave'), ('boo', 'shah'), ('moo', 'joshi')]

In [132]:
for a, b in zip(seq1, seq2):
    print(a,b)

foo dave
boo shah
moo joshi

In [133]:
for i, (a,b) in enumerate(zip(seq1, seq2)):
    print("{0}: {1}, {2}".format(i, a, b))

0: foo, dave
1: boo, shah
2: moo, joshi

* We can even unzip

In [134]:
xyz = [('purvil', 'dave'), ('meet', 'shah'), ('kamil', 'patel')]

In [135]:
fName, lName = zip(*xyz)

In [136]:
fName

('purvil', 'meet', 'kamil')

In [137]:
lName

('dave', 'shah', 'patel')

In [138]:
list(zip(*xyz))

[('purvil', 'meet', 'kamil'), ('dave', 'shah', 'patel')]

### `reversed`
* Iterate over elements of sequence in reversed order

In [139]:
list(reversed(range(5)))

[4, 3, 2, 1, 0]

### List comprehension
* Concise way to create list

```
[expr for val in collection if condition]
```

In [140]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [142]:
# Filter out string length 2 or less and aslo convert in upper case
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [143]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [144]:
vec = [-4, -2, 0, 2, 4]
[x for x in vec if x >= 0]

[0, 2, 4]

In [145]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [146]:
[(x, x**2) for x in range(5)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [147]:
[num ** 2 if num % 2 == 0 else 0 for num in range(10)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

### Looping over 2 sequence

In [148]:
[(x,y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

### Nested List comprehension
* Get the single list containing all names with 2 or more e.

In [149]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [150]:
ans = []

for lst in all_data:
    e_lst = [name for name in lst if name.count('e') >= 2]
    ans.extend(e_lst)

In [151]:
ans

['Steven']

In [152]:
[name for lst in all_data for name in lst if name.count('e') >= 2]

['Steven']

In [1]:
some_tuple = [(1,2,3),(4,5,6),(7,8,9)]

In [2]:
flattened = [x for tup in some_tuple for x in tup]

In [3]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
[[x for x in tup] for tup in some_tuple]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### `filter`
* Filter out elements from list that do not meet certain criteria.

In [153]:
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimki']

In [155]:
res = filter(lambda str: len(str) > 6, fellowship)

In [156]:
list(res)

['samwise', 'aragorn', 'legolas', 'boromir']

### `reduce`
* Useful to perform some computation on list. Return single value as a result.

In [157]:
stark = ['robb', 'sansa', 'arya', 'eddard', 'jon']

In [158]:
from functools import reduce
res = reduce(lambda i1, i2 : i1 + i2, stark)

In [159]:
res

'robbsansaaryaeddardjon'

### Copies are shallow

In [1]:
a = [[1,2,3], [4,5,6]]
b = a.copy()

In [2]:
a is b

False

In [3]:
a[0] is b[0]

True

In [4]:
a[0].append(9)

In [5]:
a

[[1, 2, 3, 9], [4, 5, 6]]

In [6]:
b

[[1, 2, 3, 9], [4, 5, 6]]

### `any`, `all`

In [13]:
any([False, True, False])

True

In [14]:
all([False, True, False])

False

### `map`
* Apply function to every element in a sequence, producing new sequence.
* map() is lazy- it only produces values as needed.

In [2]:
m = map(ord, "The quick brown fox")

In [3]:
list(m)

[84,
 104,
 101,
 32,
 113,
 117,
 105,
 99,
 107,
 32,
 98,
 114,
 111,
 119,
 110,
 32,
 102,
 111,
 120]

In [5]:
sizes = ["small", "medium", "large"]
colors = ["lavender", "teal", "burnt orange"]
animals = ["koala", "platypus", "salamander"]

In [6]:
def combine(size, color, animal):
    return '{} {} {}'.format(size, color, animal)

In [7]:
list(map(combine, sizes, colors, animals))

['small lavender koala',
 'medium teal platypus',
 'large burnt orange salamander']

### `filter`
*  Apply function to each element in a sequence, constructing a new sequence with the elements for which the function returns True.

In [9]:
list(filter(lambda x:x > 0, [1,-5,0,6,-2,8]))

[1, 6, 8]

* In python 2 map and reduce are NOT lazy, they return list as an output.

### `functools.reduce()`
* Repeatedly apply a function to the elements of a sequence, reducing to single value.

In [10]:
from functools import reduce
import operator

reduce(operator.add, [1,2,3,4,5])

15

* Optional initial value is conceptually just added to the start of the input sequence.

In [11]:
reduce(operator.add, [1,2,3,4,5], 0)

15

In [12]:
reduce(operator.add, [], 0)

0