# String

In [1]:
'I am string'

'I am string'

In [2]:
"I am string"

'I am string'

In [3]:
'''I am string
    Ohh!!! I can stretch to as many line as I want'''

'I am string\n    Ohh!!! I can stretch to as many line as I want'

In [4]:
"""I am string
    Ohh!!! I can stretch to as many line as I want"""

'I am string\n    Ohh!!! I can stretch to as many line as I want'

* `\` is used to add escape sequence.

### Raw string

* If you do not want to use escape sequence `\` for special characters then create raw string.

In [5]:
print(r"C:\Some\name")

C:\Some\name

In [6]:
print("C:\Some\name")

C:\Some
ame

### Multiple lines

* At every new line end of line character automatically included. Inserting `\` will prevent it.

In [7]:
# No \ so blank line will be added first
print("""
My name is purvil.
My name is Bhavna.
My name is Shailesh.
""")

My name is purvil.
My name is Bhavna.
My name is Shailesh.

In [8]:
print("""\
My name is purvil.
My name is Bhavna.
My name is Shailesh.
""")

My name is purvil.
My name is Bhavna.
My name is Shailesh.

###  Concatenation `+`  Multiplication`*`

In [9]:
'abc' + 'pqr'

'abcpqr'

In [10]:
'abc' * 3

'abcabcabc'

* two or more strings next to each other will concatenated automatically.

In [11]:
'py''thon'

'python'

* Python string are immutable.

In [12]:
s1 = 'purvil'

In [13]:
s1[2] = 'v'

TypeError: 'str' object does not support item assignment

### `in` operator

In [14]:
'a' in 'abc'

True

In [15]:
'ab' in 'abc'

True

In [16]:
'z' in 'abc'

False

## String Manipulation methods
* Method do not modify original string instead return new modified string.

In [17]:
s2 = "Hello Purvil"

### `lower()`

In [18]:
s2.lower()

'hello purvil'

### `upper()`

In [19]:
s2.upper()

'HELLO PURVIL'

### `capitalize()`

In [20]:
s2.capitalize()

'Hello purvil'

### `title()`

In [21]:
s2.title()

'Hello Purvil'

### `casefold`

In [22]:
s2.casefold()

'hello purvil'

### `isalpha`

In [23]:
"hello".isalpha()

True

### `isdigit`

In [24]:
'123'.isdigit()

True

### `find`
* Return starting index of sub string in original string

In [25]:
s2.find('Pur')

6

In [26]:
s2.find('l', 5) # find index of 'l' starting from index 5

11

### `replace()`
* Replace all occurrence of one string to other.

In [27]:
s2.replace('l', 'h')

'Hehho Purvih'

In [28]:
s2.replace('Purvil', 'Bhavna')

'Hello Bhavna'

### `strip()` `rstrip()` `lstrip()`

In [29]:
s3 = '   purvil  '

In [30]:
s3.strip()

'purvil'

In [31]:
s3.rstrip()

'   purvil'

In [32]:
s3.lstrip()

'purvil  '

### `startswith`

In [33]:
s2.startswith('H')

True

In [34]:
s2.startswith('Hell')

True

In [35]:
s2.startswith('f')

False

###  `count`

In [36]:
s2.count('l')

3

### `split()`

In [37]:
s2.split() # Split string at every occurrence of ` ` and return as list

['Hello', 'Purvil']

In [38]:
s2.split('l') # split string at every occurence of l.

['He', '', 'o Purvi', '']

### `partition`
* Divides string into three around a separator: prefix, separator, suffix

In [39]:
"PurvilDaveIsBoy".partition("Dave")

('Purvil', 'Dave', 'IsBoy')

### String formatting

In [40]:
template = '{0:2f} {1:s} are worth of US ${2:d}'

* {0:.2f} means format 1st argument as floating point with 2 decimal place
* {1:s} means format the 2nd argument as a string
* {2:d} means format the 3rd argument as exact integer

In [41]:
template.format(4.5500, 'I am spending', 1)

'4.550000 I am spending are worth of US $1'

### String interpolation

In [42]:
name = "purvil"
machine = "lenovo"

In [43]:
f"Nice to meet you {name}, I am {machine}"

'Nice to meet you purvil, I am lenovo'

### `ascii()`
* Replaces non-ascii characters with escape sequences.