# Tuple

* Tuple is not mutable, So they are simpler and more efficient in terms of memory use and performance than list.
* Use tuple when you are sure that sequence will not change.

In [1]:
t1 = (1, 'a', 2, 'b')

In [2]:
type(t1)

tuple

In [3]:
tuple([1,2,3])

(1, 2, 3)

In [4]:
tuple('purvil')

('p', 'u', 'r', 'v', 'i', 'l')

### Creating tuple of one element

In [5]:
singleton = 'hello', # make sure there is a comma after first element

* If object inside tuple is mutable, we can modify it in place

In [6]:
t2 = ('foo', [1,2,3], True)

In [7]:
t2[1].append(4)

In [8]:
t2

('foo', [1, 2, 3, 4], True)

* `+` and `*` will work on tuple. `+` will concatenate two tuple, `*` will multiply same tuple.

### Variable unpacking

In [9]:
tup = (1, 2, 3)
a,b,c = tup

In [10]:
a

1

In [11]:
tup1 = 4,5,(6,7)

In [12]:
a,b,(c,d) = tup1

In [13]:
d

7

* `*var_name` is used to capture an arbitrarily long list of positional argument

In [14]:
value = 1,2,3,4,5

In [15]:
a,b, *rest = value

In [16]:
rest

[3, 4, 5]

### `del`
* will delete entire tuple. submit it to garbage collector

In [17]:
temp_tuple = (1,2,3,4)

In [18]:
del temp_tuple

### `max`
* `max(tuple)`

### `min`
* `min(tuple)`

### `count`

In [19]:
t = (1,2,2,3)

In [20]:
t.count(2)

2