# Dictionary

* Collection of key-value pairs.
* Also known as hash map or asscoated array.
* Disctionary is indexed by keys. Keys must be immutable i.e string, tuple, scalar types and should be unique.
* Validity of key immutability can be checked by hash function which check hashability.

In [1]:
hash(5)

5

In [2]:
hash("purvil")

-992227564342809775

In [3]:
hash([1,2,3])

TypeError: unhashable type: 'list'

In [4]:
hash((1,2,(3,4)))

-2725224101759650258

In [5]:
hash((1,2,[3,4]))

TypeError: unhashable type: 'list'

---------------

In [6]:
empty_dict = {}

In [7]:
d1 = {'a' : 'some val', 'b' : [1,2,3,4,5]}
d1['c'] = 'purvil'

In [8]:
d1

{'a': 'some val', 'b': [1, 2, 3, 4, 5], 'c': 'purvil'}

In [9]:
d1['b']

[1, 2, 3, 4, 5]

In [10]:
'b' in d1

True

In [11]:
list(d1.keys())

['a', 'b', 'c']

In [12]:
list(d1.values())

['some val', [1, 2, 3, 4, 5], 'purvil']

In [13]:
list(d1.items())

[('a', 'some val'), ('b', [1, 2, 3, 4, 5]), ('c', 'purvil')]

In [14]:
'b' in d1.keys()

True

In [15]:
'purvil' in d1

False

In [16]:
'purvil' in d1.values()

True

### `del`, `pop`

In [17]:
del d1['a']

In [18]:
d1

{'b': [1, 2, 3, 4, 5], 'c': 'purvil'}

In [19]:
ret = d1.pop('c')

In [20]:
ret

'purvil'

In [21]:
d1.pop('f', "default")

'default'

In [22]:
d1

{'b': [1, 2, 3, 4, 5]}

### `Update`
* Merge one dictionary with another. It will change dictionary in place so any existing keys will be updated.

In [23]:
d1.update({'x':1, 'y':2,'z':3})

In [24]:
d1

{'b': [1, 2, 3, 4, 5], 'x': 1, 'y': 2, 'z': 3}

### Iterating over dictionary

In [25]:
d2 = {'purvil' : 'davepurvil@gmail.com', 'japan' : 'japandave@gmail.com', 'bhavika' : 'bhavikajoshi@gmail.com'}

In [26]:
for name in d2:
    print(name)

purvil
japan
bhavika

In [27]:
for name in d2.keys():
    print(name)

purvil
japan
bhavika

In [28]:
for email in d2.values():
    print(email)

davepurvil@gmail.com
japandave@gmail.com
bhavikajoshi@gmail.com

In [29]:
for name, email in d2.items():
    print(name, email)

purvil davepurvil@gmail.com
japan japandave@gmail.com
bhavika bhavikajoshi@gmail.com

### Creating dictionary from sequence

In [30]:
mapping = {}
key_lst = [1,2,3,4]
val_lst = ['a', 'b', 'c', 'd']
for key, val in zip(key_lst, val_lst):
    mapping[key] = val

In [31]:
mapping

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [32]:
mapping_2 = dict(zip(range(5), reversed(range(5))))

In [33]:
mapping_2

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

### Default value

```
if key in some_dict:
    val = some_dict[key]
else:
    val = default_val
```

* Another way to write this is using `get` method of dictionary.
* Check whether key is already in dictionary or return default value
```
val = some_dict.get(key, default_val)
```

In [34]:
mapping_2

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [35]:
print(mapping_2.get(5))

None

In [36]:
print(mapping_2.get(5, 'default'))

default

### `pop`

In [37]:
mapping_2.pop(5)

KeyError: 5

In [38]:
mapping_2.pop(5, 'default')

'default'

In [39]:
mapping_2.pop(0)

4

In [40]:
mapping_2

{1: 3, 2: 2, 3: 1, 4: 0}

### `setdefault`

* Categorizing a list of words by first letters as a dictionary

In [41]:
words = ['apple', 'bat', 'banana', 'bar', 'atom', 'book']

In [42]:
by_letter = {}

In [43]:
for word in words:
    if word[0] in words:
        by_letter[word[0]].append(word)
    else:
        by_letter[word[0]] = word

In [44]:
by_letter

{'a': 'atom', 'b': 'book'}

In [45]:
by_letter1 = {}
for word in  words:
    by_letter1.setdefault(word[0],[]).append(word)

In [46]:
by_letter1

{'a': ['apple', 'atom'], 'b': ['bat', 'banana', 'bar', 'book']}

### `defaultdict` from collections

* We pass type or function to generate default value for each slot in dictionary.

In [47]:
from collections import defaultdict

In [48]:
by_letter2 = defaultdict(list)

In [49]:
for word in words:
    by_letter2[word[0]].append(word)

In [50]:
by_letter2

defaultdict(list,
            {'a': ['apple', 'atom'], 'b': ['bat', 'banana', 'bar', 'book']})

### Dictionary comprehension

In [51]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [52]:
loc_mapping = {val : index for index, val in enumerate(strings)}

In [53]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [54]:
{x : x ** 2 for x in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### Nested Dictionary

In [55]:
europe = {'spain' : {'capital' : 'madrid', 'population' : 46.77},
          'france' : {'capital' : 'paris', 'population' : 66.03},
          'germany' : {'capital' : 'berlin', 'population' : 80.92},
          'norway' : {'capital' : 'oslo', 'population' : 5.08}}

In [56]:
europe['spain']['capital']

'madrid'

In [57]:
data = {'capital' : 'rome', 'population' : 59.83}

In [58]:
europe['italy'] = data

In [59]:
europe

{'spain': {'capital': 'madrid', 'population': 46.77},
 'france': {'capital': 'paris', 'population': 66.03},
 'germany': {'capital': 'berlin', 'population': 80.92},
 'norway': {'capital': 'oslo', 'population': 5.08},
 'italy': {'capital': 'rome', 'population': 59.83}}

### Sort by value

In [60]:
d = {'a' : 10, 'b' : 20, 'c' : 30}

In [61]:
lst = list()

In [62]:
for k,v in d.items():
    lst.append((k,v))

In [63]:
lst

[('a', 10), ('b', 20), ('c', 30)]

In [64]:
lst.sort(reverse=True)

In [65]:
lst

[('c', 30), ('b', 20), ('a', 10)]

In [66]:
print(sorted([(v, k) for k,v in d.items()]))

[(10, 'a'), (20, 'b'), (30, 'c')]

### pprint
* More readable way for printing.

In [67]:
from pprint import pprint as pp
pp(europe)

{'france': {'capital': 'paris', 'population': 66.03},
 'germany': {'capital': 'berlin', 'population': 80.92},
 'italy': {'capital': 'rome', 'population': 59.83},
 'norway': {'capital': 'oslo', 'population': 5.08},
 'spain': {'capital': 'madrid', 'population': 46.77}}

### `clear()`
* Clear content of dictionary

In [68]:
europe.clear()

In [69]:
europe

{}

### `del`
* Delete entire dictionary

In [70]:
del europe

### `copy`
* Does

In [71]:
d = {'a':0, 'b':1, 'c':2}

In [72]:
copy_d = d.copy()

In [73]:
copy_d['a'] = 6

In [74]:
copy_d

{'a': 6, 'b': 1, 'c': 2}

In [75]:
d

{'a': 0, 'b': 1, 'c': 2}

### `fromkeys(seq[,value])`
* Create new dict with keys from sequence and value set to values

In [76]:
seq = ('name', 'age', 'gender')
d10 = dict.fromkeys(seq)

In [77]:
d10

{'name': None, 'age': None, 'gender': None}

In [78]:
d11 = dict.fromkeys(seq, 10)

In [79]:
d11

{'name': 10, 'age': 10, 'gender': 10}