### `datetime` module

* immutable
![datetime](images/datetime.jpg)

![Date format](images/date_format.jpg)

In [1]:
import datetime

In [2]:
datetime.date(2014, 1, 6) # year, month, day

datetime.date(2014, 1, 6)

In [3]:
datetime.date(year = 2014, month = 1, day = 6)

datetime.date(2014, 1, 6)

In [4]:
datetime.date.today()

datetime.date(2019, 1, 13)

In [5]:
datetime.date.fromtimestamp(10000000) # Date from posix time stamp (Number of seconds from 1st jan 1970)

datetime.date(1970, 4, 26)

In [6]:
datetime.date.fromordinal(720669) # Accept integer days, starting from 1st of january of year 0001

datetime.date(1974, 2, 15)

In [7]:
d = datetime.date.today()

In [8]:
d.year

2019

In [9]:
d.day

13

In [10]:
d.month

1

In [11]:
d.weekday() # (0 to 6 Monday to sunday)

6

In [12]:
d.isoweekday() # (1 to 7 Monday to sunday)

7

In [13]:
d.isoformat() # return string

'2019-01-13'

In [14]:
d.strftime('%A %d %B %Y') # string-format-time %A day of week as word, %B month as word

'Sunday 13 January 2019'

In [15]:
"The date is {:%A %d %B %Y}".format(d)

'The date is Sunday 13 January 2019'

In [16]:
datetime.date.min

datetime.date(1, 1, 1)

In [17]:
datetime.date.max

datetime.date(9999, 12, 31)

In [18]:
datetime.date.resolution

datetime.timedelta(1)

In [68]:
temp = datetime.datetime.strptime('20091031', '%Y%m%d')

In [69]:
temp

datetime.datetime(2009, 10, 31, 0, 0)

In [70]:
temp.replace(minute = 59, second = 10)

datetime.datetime(2009, 10, 31, 0, 59, 10)

In [72]:
temp

datetime.datetime(2009, 10, 31, 0, 0)

### `time`

In [19]:
datetime.time(3)

datetime.time(3, 0)

In [20]:
datetime.time(3, 1)

datetime.time(3, 1)

In [21]:
datetime.time(3,1,2)

datetime.time(3, 1, 2)

In [22]:
t = datetime.time(3,1,2,232) # hour, minute, second, microsecond

In [23]:
t

datetime.time(3, 1, 2, 232)

In [24]:
t.hour

3

In [25]:
t.second

2

In [26]:
t.minute

1

In [27]:
t.microsecond

232

In [28]:
t.isoformat()

'03:01:02.000232'

In [29]:
t.strftime('%Hh%Mm%Ss') # String format time

'03h01m02s'

In [30]:
datetime.time.min

datetime.time(0, 0)

In [31]:
datetime.time.max

datetime.time(23, 59, 59, 999999)

In [32]:
datetime.time.resolution

datetime.timedelta(0, 0, 1)

 ### `datetime`
 * composite type

In [33]:
datetime.datetime(2003, 11, 20, 8 , 25, 0)

datetime.datetime(2003, 11, 20, 8, 25)

In [34]:
datetime.datetime.today()

datetime.datetime(2019, 1, 13, 13, 50, 50, 832086)

In [35]:
datetime.datetime.now()

datetime.datetime(2019, 1, 13, 13, 50, 50, 847046)

In [36]:
datetime.datetime.utcnow()

datetime.datetime(2019, 1, 13, 21, 50, 50, 863002)

In [37]:
datetime.datetime.fromordinal(5)

datetime.datetime(1, 1, 5, 0, 0)

In [38]:
datetime.datetime.fromtimestamp(354612)

datetime.datetime(1970, 1, 4, 18, 30, 12)

In [39]:
datetime.datetime.utcfromtimestamp(4)

datetime.datetime(1970, 1, 1, 0, 0, 4)

In [40]:
d = datetime.date.today()
t = datetime.time(8,15)

In [41]:
datetime.datetime.combine(d,t)

datetime.datetime(2019, 1, 13, 8, 15)

In [42]:
dt = datetime.datetime.strptime("Monday 6 January 2014, 12:13:31", "%A %d %B %Y, %H:%M:%S") # String parse time

In [43]:
dt

datetime.datetime(2014, 1, 6, 12, 13, 31)

In [44]:
dt.day

6

In [45]:
dt.hour

12

In [46]:
dt.date()

datetime.date(2014, 1, 6)

In [47]:
dt.time()

datetime.time(12, 13, 31)

In [48]:
dt.isoformat()

'2014-01-06T12:13:31'

### `timedelta`

In [49]:
datetime.timedelta(milliseconds = 1, microseconds = 1000)

datetime.timedelta(0, 0, 2000)

In [50]:
td = datetime.timedelta(weeks = 1, minutes = 2, milliseconds = 5500)

In [51]:
td

datetime.timedelta(7, 125, 500000)

In [52]:
td.days

7

In [53]:
td.seconds

125

In [54]:
td.microseconds

500000

In [55]:
str(td)

'7 days, 0:02:05.500000'

In [56]:
repr(td)

'datetime.timedelta(7, 125, 500000)'

### Arithmetic with datetime

In [57]:
a = datetime.datetime(2014,5,8,14,22)
b = datetime.datetime(2014,3,14,12,9)

In [58]:
d = a - b

In [59]:
d

datetime.timedelta(55, 7980)

In [60]:
d.total_seconds()

4759980.0

In [61]:
datetime.date.today() + datetime.timedelta(weeks = 1) * 3

datetime.date(2019, 2, 3)

* Arithmetic on time object is not supported.

### `time`
* Deals with unix time stamp
* Unix timestamp is floating point value with no explicit mention of day, month, hour etc. It represent number of seconds from epoch (first second of year of 1970)

In [62]:
import time
time.time() # return unix timestamp

1547416251.2950249

#### `time.gmtime()`
* convert time in human readable format. Takes timestamp as argument and returns `struct_time` instance.
    - It has attributes like,
        - `tm_year` : year of time stamp
        - `tm_mon`: month of time stamp (1-12)
        - `tm_mday` Day of timestamp (1-31)
        - `tm_hour`: hour of timestamp(0-23)
        - `tm_min`: minute of timestamp(0-59)

In [63]:
var = time.gmtime(time.time())

In [64]:
var

time.struct_time(tm_year=2019, tm_mon=1, tm_mday=13, tm_hour=21, tm_min=50, tm_sec=51, tm_wday=6, tm_yday=13, tm_isdst=0)

In [65]:
var.tm_year

2019

* Always returns UTC time. mean solar time at $0^.$